address {
  margin-top: 20px;

  color: var(--white);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  color: var(--fotter-contacts-color);

  transition: color 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts__point {
  margin-top: 8px;
  @media screen and (min-width: 1200px) {
    margin-top: 9px;
  }
}

.footer-contacts-wrapper {
  text-align: center;
  margin-bottom: 60px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 0px;
    text-align: start;
  }
}
