.filter-list {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: space-between;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.filter-list__button {
  padding: 6px 22px;
  background-color: var(--background-color);
  border-radius: 4px;
  border: 0;

  color: var(--title-text-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  cursor: pointer;
  transition: background-color 250ms var(--transition-cubic),
    color 250ms var(--transition-cubic),
    box-shadow 250ms var(--transition-cubic);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--white);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filter-list__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}
