.clients-list {
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
    margin-left: 0px;
    margin-bottom: 0px;
    justify-content: space-between;
  }
}

.clients-list__item {
  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 60px) / 2);
    height: 92px;
    margin-left: 30px;
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
    height: 92px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
    height: 92px;
  }
}

.clients-list__link {
  display: flex;
  width: inherit;
  height: inherit;

  justify-content: center;
  align-items: center;
  border: 1px solid var(--icons-primary-color);
  border-radius: 4px;

  transition: border var(--transition-cubic) 250ms;
  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
  }
}
.clients-list__icon {
  max-width: 106px;
  max-height: 60px;

  fill: var(--icons-primary-color);
  transition: fill var(--transition-cubic) 250ms;
  .clients-list__link:hover &,
  .clients-list__link:focus & {
    fill: var(--accent-color);
  }
}
