.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;

  background-color: var(--white);
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(236, 236, 236, 1);
}
.header-flex {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-start;
  }
}
