.header__menu-btn {
  display: block;
  max-width: 40px;
  height: 40px;
  padding: 0;
  z-index: 15;

  background-color: transparent;
  border: 0;

  & .menu-icon__close {
    display: none;
  }
  &.is-open .menu-icon__close {
    display: block;
  }
  &.is-open .menu-icon__open {
    display: none;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu-icon {
  .header__menu-btn:hover &,
  .header__menu-btn:focus & {
    fill: var(--accent-color);
  }
}
